#example {
    min-height: 500px;
}

#undo {
    text-align: center;
    position: absolute;
    white-space: nowrap;
    padding: 1em;
    cursor: pointer;
}

.k-window-content a {
    color: #BBB;
}

.k-window-content p {
    margin-bottom: 1em;
}

#map_canvas {
    display: -webkit-box;
    height: 400px;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    div.k-window {
        display: none !important;
    }
}